.task-list {
    margin-top: 20px;

    &-container {
        width: 100%;
        padding: 0!important;
        display: grid;
        gap: 25px;  

    }
    &-loading-text {
        text-align: center;
        font-size: 25px;
        visibility: hidden;
        margin-bottom: 20px;
    }

}

.single-task {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    border-radius: 5px;
    box-shadow: $shadow-task;
    transition: all .3s ease-in-out;

    &-name {
        font-size: 20px;
    }

    &-links {
        display: flex;
        align-items: center;
        gap: 0 10px;

        .btn-edit {
            text-decoration: none;
        }

        .btn-delete {
            background: #f54848ea;
            padding: 10px 10px;
            color: white;
            cursor: pointer;
        }
    }
}